<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/main.css">
  <script src="https://registry.npmmirror.com/xiaochuan-react-develop/0.0.7/files/dist/18.2.0/react.production.min.js"></script>
  <script src="https://registry.npmmirror.com/xiaochuan-react-develop/0.0.7/files/dist/18.2.0/react-dom.production.min.js"></script>
</head>
<body>
  <div id="app">{{{content}}}</div>
  <script src="/index.js"></script>
</body>
</html>